# Logs
*.log
npm-debug.log*
yarn-error.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# Package Lock Files
package-lock.json
yarn.lock

# Project Files
src
test
src/
test/
examples
CHANGELOG.md
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.babelrc
.gitignore
.babelrc
babel.config.js
.npmignore
CONTRIBUTING.md
.eslintrc
.eslintrc.js
jest.config.js
/lib
rollup.config.js
setup.ts
tsconfig.json
tsconfig.jest.json
/coverage
CODE_OF_CONDUCT.md
.github

# Others
.DS_Store
.idea